trigger:
- master

variables:
  CONTAINER_REGISTRY: 'javademosregistry'
  IMAGE_TAG: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build & Push Image
    pool:
      name: self-hosted-pool2

    steps:
    - script: |
        echo Agent: %AGENT_NAME%
        az acr login -n javademosregistry
        mvn compile jib:build ^
          -Djib.to.image=javademosregistry.azurecr.io/demo:%BUILD_BUILDID%
      displayName: Build with Maven + Jib
