trigger:
- master

variables:
  CONTAINER_REGISTRY: 'javademosregistry'
  IMAGE_TAG: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build & Push Image to ACR
    pool:
      name: self-hosted-pool2
      vmImage: ubuntu-latest

    steps:
    - task: Bash@3
      displayName: Build & Push using Jib
      inputs:
        targetType: inline
        script: |
          echo "Login to ACR"
          az acr login -n javademosregistry

          echo "Build Spring Boot image"
          mvn compile jib:build \
            -Djib.to.image=javademosregistry.azurecr.io/demo:$(Build.BuildId)
