trigger:
- master

variables:
  CONTAINER_REGISTRY: 'javademosregistry.azurecr.io'
  IMAGE_TAG: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: Build
    displayName: Build & Push Image
    pool:
      name: self-hosted-pool2

    steps:
    - script: |
        echo "Running on agent: %AGENT_NAME%"
        echo "Build ID: $(Build.BuildId)"
      displayName: Agent Info

    # Build Java app + image with Jib (no push yet)
    - script: |
        mvn compile jib:dockerBuild -Djib.to.image=demo:$(IMAGE_TAG)
      displayName: Build Image with Jib (local)

    # Push image to ACR using Docker service connection
    - task: Docker@2
      displayName: Push Image to ACR
      inputs:
        containerRegistry: 'ACR_Docker_Connection'
        repository: 'demo'
        command: 'push'
        tags: |
          $(IMAGE_TAG)
